<div class="row align-items-center justify-content-center background-wrapper text-center ">
    <div class="content-wrapper p-5 bg-light">
        <h1>My Spotify App</h1>
        <form action="/artists/" method="GET">
            <input name="search" type="text" placeholder="Search" aria-label="Search">
            <button type="submit">Search for an Artist...</button>
        </form>
    </div>
</div>