<div>
    My Spotify App
    <form action="/search/" method="GET">
        <input name="q" type="search" placeholder="Search" aria-label="Search">
        <button type="submit">Search your spotify song...</button>
    </form>
</div>